// 定义全局自定义节点样式

#app {
    height: 100%;
    font-family: @basicFontFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    // color: @basicFontColor;
    color: #A8ABB3;
}

// dragula.js 拖拽样式全局设置
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

// 2.0 使form表单中的每个item左对齐
.form-block {
    text-align: left;
    .el-input, .el-textarea, .el-select {
        width: 300px !important;
    }
    .el-input {
        transform: scale(1, 0.945);
    }
    .el-input__icon {
        height: 100% !important;
    }
    //.el-input {
    //    height: 34px !important;
    //    input {
    //        height: 34px;
    //        line-height: 34px;
    //    }
    //}
    //.el-select:not(.multiple-select) {
    //    height: 34px !important;
    //    input {
    //        height: 34px;
    //        line-height: 34px;
    //    }
    //}
    //.el-form-item__content {
    //    line-height: 34px !important;
    //}
}

// 2.0弹窗样式
.normal-dialog {
    background: #293550;
    border: 1px solid rgba(99, 116, 151, 0.50);
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.30);
    border-radius: 8px;
    .el-dialog__header {
        padding: 0px;
        height: 50px;
        line-height: 55px;
        background: #1F2D4D;
        .el-dialog__title {
            font-size: 20px;
            color: #909399;
        }
        .el-dialog__headerbtn {
            top: 16px;
            font-size: 15px;
            .el-dialog__close {
                color: #C35757;
                &:hover {
                    color: #D0021B;
                }
            }
        }
    }
    .el-dialog__footer {
        .el-button {
            width: 100px;
            height: 40px;
            &.el-button--default {
                color: #C35757;
            }
            &.el-button--default.el-button--primary {
                color: #A3D0FD;
            }
            &:first-child {
                margin-left: 10px;
            }
        }
    }
}

// 2.0弹窗表格样式
.playing-box-table {
    .el-table__header {
        tr, th {
            background: #212A3E !important;
        }
    }
    .el-table__body {
        tr {
            background: #191D26 !important;
            &:hover {
                background: #979797;
            }
        }
    }
}

// 2.0下拉选择框禁用样式
.el-dropdown {
    &.is-disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}

// 人物列表中的图片大小
.person-image {
    display: inline-block;
    width: 60px;
    height: 60px;
}

// 可设置的模块
.settable {
    position: relative;
    transition: background-color 0.5s;
    color: #fff;
}

//  类型管理的树形状结构
.type-tree {
    margin-top: 32px;
}

.custom-tree-node {
    display: flex;
    padding-right: 8px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.custom-tree-node span {
    font-size: 18px;
}

// 图片列表样式
.cover-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    li {
        display: flex;
        position: relative;
        margin-right: 30px;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        .image-box {
            height: 150px;
            width: 150px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: zoom-in;
        }
        label {
            text-align: center;
            font-size: 16px;
        }
        i {
            position: absolute;
            top: 20px;
            color: red;
            cursor: pointer;
            font-size: 2em;
        }
        .delete-btn {
            right: 20px;
            display: none;
        }
        &:hover {
            i {
                display: block;
            }
        }
    }
}

// 侧边栏二级标题样式
li {
    div.el-submenu__title {
        font-size: 18px;
        i, label {
            font-size: 18px;
        }
    }
}

// 面包线文字颜色
.el-breadcrumb {
    margin-bottom: 20px;
    .el-breadcrumb__item {
        &:last-child {
            span.el-breadcrumb__inner {
                font-size: 16px;
                color: #606060;
                font-weight: normal;
            }
        }
        span.el-breadcrumb__inner {
            color: #8C8C8C;
            font-size: 16px;
            font-weight: normal;
            cursor: auto;
        }
    }
}

/** 页面的大标题样式 */
.page-title {
    display: flex;
    padding: 10px 30px;
    height: 42px;
    align-items: center;
    text-align: left;
    font-size: 16px;
    color: #283841;
    border-bottom: 1px solid #F0F2F5;
}

/** 页面的中小项标题样式样式 */
.item-little-title {
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 12px;
    color: #606060;
}

/** 页面button样式 */
.page-main-btn {
    min-width: 120px;
}

.page-margin-btn {
    margin: 120px 0px 0 0;
}

.page-vice-btn {
    width: 96px;
}

.btn-icon-normal {
    i {
        font-size: 16px;
    }
}

/** 详情按钮样式  */
.detail-btn {
    span {
        color: #67C23A;
    }
}

/** 删除按钮样式  */
.remove-btn {
    span {
        color: #F56C6C;
    }
}

/** 禁播、删除等按钮样式  */
.disabled-red-btn {
    background-color: transparent;
    border: 1px solid #fbc4c4;
    color: #f56c6c;
    * {
        color: #f56c6c;
    }
    &:hover, &:focus {
        background-color: #F56C6C;
        border: 1px solid #fbc4c4;
        * {
            color: #fff;
        }
    }
    &.is-disabled {
        background-color: transparent;
        border-color: #fbc4c4;
        span {
            color: #fbc4c4;
        }
        &:hover {
            color: #fbc4c4;
            background-color: transparent;
            border-color: #fbc4c4;
            span {
                color: #fbc4c4;
            }
        }
    }
}

/** 清除筛选项的button样式 */
.clear-filter {
    .svg-icon {
        margin-right: 2px;
        fill: #ecf5ff;
        stroke: #409EFF;
    }
    &:hover {
        .svg-icon {
            fill: #409EFF;
            stroke: #fff;
        }
    }
}

// 2.0 input去除chrome自动填充背景色
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(41, 53, 80) inset;
    color: #A3D0FD !important;
}

/** 2.0列表筛选参数样式 */
.filter-form {
    position: relative;
    padding: 23px 10px 0px 10px;
    text-align: left;
    .el-form-item {
        margin-bottom: 23px;
        margin-right: 30px;
        &:first-child {
            margin-right: 20px;
        }
    }
    .el-form-item__label {
        font-size: 16px;
        height: 34px;
        line-height: 40px;
    }
    .el-input {
        height: 33px;
    }
    .el-input__inner {
        height: 33px !important;
        line-height: 33px;
    }
    .el-select__tags {
        margin-top: 4px;
    }
    .el-form-item__content {
        height: 34px;
    }
    .more-filters {
        width: 72px;
        min-width: 72px;
    }
}

/* 2.0表格底部下拉框 */
.table-dropdow-box {
    margin-bottom: 150px;
    .el-dropdown {
        text-align: center;
        position: relative;
        top: -28px;
    }
}

//2.0多选下拉框样式
.el-select {
    .el-select__tags {
        .el-tag {
            background: #2A3040;
            border-radius: 4px;
            &:hover {
                border: 1px solid #1989FA;
            }
            .el-icon-close {
                height: 16px;
                width: 16px;
                line-height: 16px;
                background: #6F7480;
                color: #2A3040;
            }
            &:hover {
                .el-icon-close {
                    background: #C35757;
                    color: #2A3040;
                }
            }
        }
    }
}

// 2.0多选框样式
.el-checkbox__input {
    &.is-indeterminate .el-checkbox__inner::before {
        background-color: #2A3040;
    }
    span.el-checkbox__inner {
        background: transparent;
        border: 1px solid #3E495E;
        border-radius: 2px;
        &::after {
            border-color: #2A3040;
        }
    }
    &.is-focus {
        span.el-checkbox__inner {
            background: transparent;
            border: 1px solid #3E495E;
            border-radius: 2px;
            &::after {
                border-color: #2A3040;
            }
        }
    }
    &.is-checked {
        span.el-checkbox__inner {
            background: #1989FA;
            border: 1px solid transparent;
            border-radius: 2px;
            &::after {
                border-color: #2A3040;
            }
        }
    }
}

/* 非正常状态 */
.status-abnormal {
    display: inline-block;
    padding: 0px 13px;
    line-height: 24px;
    background: #F6CCD1;
    border-radius: 8px;
    font-size: 12px;
    color: #C35757;
    text-align: center;
}

/* 正常状态 */
.status-normal {
    display: inline-block;
    padding: 0px 13px;
    line-height: 24px;
    background: #B8E986;
    border-radius: 8px;
    letter-spacing: 0;
    font-size: 12px;
    color: #417505;
    text-align: center;
}

/* 进行中状态 */
.status-on-going {
    display: inline-block;
    padding: 1px 8px;
    line-height: 24px;
    background: #A3D0FD;
    border-radius: 8px;
    color: #1989FA;
    letter-spacing: 0;
    text-align: center;
    font-size: 12px;
}

/* 初始化状态 */
.status-initiating {
    display: inline-block;
    padding: 0px 8px;
    line-height: 24px;
    background: rgba(163, 208, 253, 0.20);
    border-radius: 8px;
    font-size: 12px;
    color: #1989FA;
    letter-spacing: 0;
    text-align: center;
}

/* 删除中状态 */
.status-deleting {
    display: inline-block;
    padding: 1px 8px;
    line-height: 24px;
    background: rgba(62, 73, 94, 0.50);
    border-radius: 8px;
    font-size: 12px;
    color: #6F7480;
    letter-spacing: 0;
    text-align: center;
}

span.disabled {
    opacity: 0.3;
    pointer-events: none;
}

// 2.0状态重试按钮
.retry-text-btn {
    padding: 2px 4px;
    margin-left: 14px;
    font-size: 12px;
    color: #1989FA;
    text-align: center;
    cursor: pointer;
}

#label-font {
    label {
        font-size: 16px;
    }
}

/*! autoprefixer: off */
.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    &.one {
        -webkit-line-clamp: 1;
    }
    &.two {
        -webkit-line-clamp: 2;
    }
    &.three {
        -webkit-line-clamp: 3;
    }
    &.four {
        -webkit-line-clamp: 4;
    }
}

#label-font {
    label {
        font-size: 16px;
    }
}

//  节目类型管理以及频道类型管理样式
.gan-el-collapse {
    position: relative;
    width: 240px;
    border-radius: 4px;
    .el-collapse-item {
        height: 40px;
        span.category-name {
            font-size: 18px;
            &:hover {
                color: #409EFF;
            }
        }
        .el-collapse-item__header {
            height: 40px;
            line-height: 40px;
        }
        .el-collapse-item__arrow {
            line-height: 40px;
        }
        .edit-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
        }
        .item-content {
            position: absolute;
            top: 0;
            left: 260px;
            width: 600px;
            background-color: #fff;
            border-radius: 4px;
            z-index: 20;
            padding: 0 20px 20px 20px;
            .add-header {
                border-bottom: 1px solid #ebeef5;
            }
            .tag-btn {
                margin: 20px 10px 0 0;
                border-color: #fff;
            }
        }
    }
}

// icon样式
.fa-icon {
    width: auto;
    height: 1em; /* 或任意其它字体大小相对值 */
    /* 要在 Safari 中正常工作，需要再引入如下两行代码 */
    max-width: 100%;
    max-height: 100%;
}

.btn-icon-container {
    display: inline-block;
    font-size: 14px;
}

//  人物和节目详情页的样式
.base-info-container, .programme-desc-container, .programme-person-container {
    background-color: #fff;
    margin-right: 20px;
    padding: 30px 42px;
    border-radius: 4px;
    .info-wrapper {
        margin-bottom: 24px;
        display: flex;
        .label {
            font-family: PingFangSC-Regular;
            width: 120px;
            font-size: 16px;
            color: #606060;
            letter-spacing: 0;
            text-align: right;
            line-height: 16px;
            margin-right: 30px;
        }
        .text {
            flex: 1;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #909399;
            letter-spacing: 0;
            line-height: 14px;
        }
    }
}

.programme-desc-container, .programme-person-container {
    .info-wrapper {
        span.label {
            width: 80px;
            margin-right: 30px;
        }
    }
}

// 步骤条
.el-steps {
    margin: 50px auto 30px auto;
    width: 80%;
    // 完成步骤
    .el-step__head {
        // 等待步骤样式
        .is-text {
            background-color: #D8D8D8;
            border-color: #D8D8D8;
            .el-step__icon-inner {
                color: #fff;
            }
        }
        // 当前步骤样式
        &.is-process {
            .is-text {
                background-color: #1989FA;
                border-color: #1989FA;
                .el-step__icon-inner {
                    color: #fff;
                }
            }
        }
        // 完成步骤样式
        &.is-finish {
            .is-text {
                background-color: #67C23A;
                border-color: #67C23A;
                .el-step__icon-inner {
                    color: #fff;
                }
            }
        }
    }
    .el-step__main {
        .el-step__title {
            font-size: 16px;
            color: #8C8C8C;
            &.is-process {
                color: #283841;
            }
            &.is-finish {
                color: #283841;
            }
        }
        .el-step__description {
            color: #8C8C8C;
            font-size: 14px;
            &.is-process {
                color: #606060;
            }
            &.is-finish {
                color: #606060;
            }
        }
    }
}

//  弹窗样式
.el-dialog {
    // 弹窗右上角关闭icon样式
    .el-dialog__close {
        &:hover {
            color: #F56C6C;
        }
    }
    // 弹窗title剧中
    .el-dialog__header {
        text-align: center;
        .el-dialog__title {
            margin-right: 10px;
            display: inline-block;
        }
    }
}

// 侧边导航栏的收起右侧弹出导航，二级菜单样式
.el-menu--popup {
    li {
        font-size: 18px;
    }
}

//  图片列表的包裹层
.image-list-wrapper {
    margin-top: 20px;
    padding-left: 20px;
}

.el-message {
    z-index: 500000 !important;
}

// 添加radio的点击范围和颜色
.el-radio {
    padding: 20px 0px;
    .el-radio__inner {
        border-color: #000;
    }
}

// 添加checkbox的点击范围和颜色
.el-checkbox {
    padding: 20px 0px;
    .el-checkbox__inner {
        border-color: #000;
    }
}
