// 定义全局自定义节点样式

#app {
    height: 100%;
    font-family: @basicFontFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: @basicFontColor;
}

.register-container {
    .el-form-item__error {
        top: 70%;
    }
}

/*dragula.js 拖拽样式全局设置
*/
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}


// 大标题的样式
.block-title {
    padding: 30px 0 20px 20px;
    line-height: 2;
    text-align: left;
    font-size: @blockTitleFontSize;
}

// 使form表单中的每个item左对齐
.form-block {
    text-align: left;
    .operate {
        text-align: center;
    }
    .tips {
        text-align: left;
        i {
        color: #f56c6c;
        }
    }
}

// 表格的标题
.table-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

// 搜索框的样式
.el-form {
    margin-left: 20px;
    text-align: left;
    &.search-form {
        margin-top: 60px;
    }
    .create-account {
        float: right;
        margin-right: 40px;
        i {
            cursor: pointer;
            &:hover {
                color: #409eff;
            }
        }
    }
    .el-tag {
        cursor: pointer;
        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}

// 表格的通用样式
.el-table {
    text-align: left;
    margin: 20px 10px;
}

// 表格下面分页右对齐
.el-pagination {
    text-align: right;
}

// 人物列表中的图片大小
.person-image {
    display: inline-block;
    width: 60px;
    height: 60px;
}
