// 定义混合样式

// 文字左对齐
.text-left {
    text-align: left;
}

// 文字居中
.text-center {
    text-align: center;
}

// 文字右对齐
.text-right {
    text-align: right;
}

// 左浮动
.float-left {
    float: left;
}
// 右浮动
.float-right {
    float: right;
}

// 清除浮动
.clearfix {
    overflow: hidden;
}

// 手形样式
.pointer {
    cursor: pointer;
}

.margin-top-l {
    margin-top: 30px;
}

//绝对定位设置唯一元素居中
.ab-center {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

// 设置元素为行内元素
.inline {
    display: inline;
}

// 设置元素为行内块元素
.inline-block {
    display: inline-block;
}

// 设置元素未块元素
.block {
    display: block;
}

.text-success {
    color: #67C23A;
}
.text-warning {
    color: #E6A23C;
}
.text-danger {
    color:#F56C6C;
}
.text-info {
    color: #909399;
}
