// 全局样式变量定义

$smallestFontSize: 12px;
$normalFontSize: 14px;
$largerFontSize: 16px;

$generalBgColor: #F0F2F5;
$loginFontColor: #8AA4AF;
$orangeFontColor: #ED6819;
$baseRed: #F56C6C;
$deepRed: #D0021B;
$baseBlue: #A3D0FD;
$lightBlue: #4BA5FF;
$baseAsideColor: #283841;
$stillGray: #F0F2F5;
$dynamicGray: #DCDFE6;
$baseGray: #606060;
$baseLightGray: #606060;
$grayLineColor: #D8D8D8;
$asideIconColor: #B8C7CE;

$basicFontFamily: "Helvetica", "Microsoft Yahei", san-serif;

//  v2.0 全局样式变量定义
$mainColor: #1989FA; // 主色调
$headerHeight: 60px; // 头部的高度定义
$headerBg: #0F1623; // 头部的背景
$asideBg: #232e44; // 侧边栏的背景
$contentBg: #1A2233; // 内容区域的背景
$successColor: #3AC26F; // 是的颜色
$dangerColor: #C35757; // 否的颜色
$closeBtnColor: #C35757; // 关闭弹窗按钮的颜色
$closeBtnHoverColor: #D0021B; // 关闭弹窗按钮hover后的颜色
