// 全局样式变量定义

$smallestFontSize: 12px;
$normalFontSize: 14px;
$largerFontSize: 16px;

$generalBgColor: #F0F2F5;
$loginFontColor: #8AA4AF;
$orangeFontColor: #ED6819;
$baseBlue: #1989FA;
$baseAsideColor: #283841;
$stillGray: #F0F2F5;
$dynamicGray: #DCDFE6;
$grayLineColor: #D8D8D8;

$basicFontFamily: "Helvetica", "Microsoft Yahei", san-serif;
